/* COLORS ==================== */
.where_now {
	color: #6488CE;
}

hr.where_now {
	background-color: #6488CE;
}

.journal {
	color: #C1677F;
}

hr.journal {
	background-color: #C1677F;
}




/* TEXT ==================== */

h2 {  /* title */ 
	font-family: 'PT Sans', sans-serif;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: .05em;
	line-height: 1.3em;
	text-align: left;
	text-transform: uppercase;
}

h3 { /* content headings */
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.head_smaller {
	font-size: 0.5em;
}

p {
	font-family: "PT Serif", "Garamond", serif;
	font-size: 1em;
	/*letter-spacing: .05em;*/
	line-height: 1.2em;
	font-weight: 100;
	color: #444444;
}

.sans_bold { 
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}

.go_back {
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
}

/* LAYOUT ==================== */

.content_wrapper {
	margin: 50px 200px 20px 50px;
	padding: 10px;
}

.content {
	margin-top: 20px;
}

hr {
	width: 80%;
	margin-left: 0;
	margin-right: auto;
	height: 2px;
	border: 0 none;
}



@media only screen and (max-width: 720px) {
	.content_wrapper {
		margin-left: 0px;
		margin-right: 0px;
	}

	hr {
		width: 95%;
	}
}
