* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* TEXT ================== */
h2 { /* answers */
	font-family: 'Droid Sans', sans-serif;
	font-size: 2.5em;
	text-align: center;
}

h3 { /* titles */ 
	font-family: 'Droid Sans', sans-serif;
	font-size: 1.4em;
	text-align: left;
}

h4 {
	font-family: 'Noto Serif', serif;
	font-size: .9em;
	font-weight: bold;
	text-align: center;
	letter-spacing: .05em;
}

h5 { /* updated messages */
	font-family: 'Noto Serif', 'Garamond', serif;
	font-size: .8em;
	text-align: left;
}

p {
	font-family: 'Noto Serif', 'Garamond', serif;
	font-size: 1em;
	text-align: left;
	line-height: 1.5em;
}


.grid {
	border: 1px solid red;
	overflow: hidden;
}

[class*='col-'] {
	border: 1px solid blue;
	padding: 0 20px;
	background-color: lightgray;
	/*background-color: #3498db;*/
	margin-bottom: -9999px;
	padding-bottom: 9999px;
}

/* SECTION SPECIFIC ================== */
/* WHERE_NOW ================== */

#sec_wn {
	background-color: #6488CE;
	border: solid white 5px;
}
.wn_big {
	font-weight: bold;
	font-size: 3em;
	color: white;
	text-align: center;
}

.wn_basic {
	font-weight: 300;
	font-size: 1em;
	color: #DDDDDD;
	text-align: center;
}

.wn_med {
	font-weight: 400;
	font-size: 2.4em;
	color: white;
	text-align: center;
}

.wn_main {
	font-family: "PT Sans", sans-serif;
	text-align: center;
	margin-top: 50px;
	line-height: 50px;
}

.wn_next {
	font-family: "PT Sans", sans-serif;
	font-size: 1em;
	text-align: center;
	color: white;
	margin-top: 50px;
	margin-bottom: 30px;
}

.wn_next p {
	text-align: center;	
}

/* JOURNAL_ENTRY ================== */

