* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* LINKS ================== */
a { 
	color: inherit; 
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* TEXT ================== */
.page_title {
	font-family: 'PT Sans', sans-serif;
	font-size: 3em;
	color: #444444;
	font-weight: bold;
	letter-spacing: 0.1em;
}

p {
	font-family: "PT Serif", "Garamond", serif;
	font-size: 1em;
	/*letter-spacing: .05em;*/
	line-height: 1.2em;
	font-weight: 100;
	color: white;
}

h3 { /* Blog post title */
	font-family: 'PT Sans', sans-serif;
	font-size: 1.4em;
	text-align: left;
	color: white;
}

h4 { /* titles */ 
	font-family: 'PT Sans', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: .05em;
	line-height: 1.3em;
	text-align: left;
	text-transform: uppercase;
	color: white;
}

h6 { /* updated messages */
	font-family: 'PT Sans', sans-serif;
	font-size: .875em;
	text-align: left;
	font-weight: 200;
	color: #DDDDDD;
}

.content_main {
	padding-left: 10px;
	padding-top: 20px;
}

.grid {
	/*border: 1px solid red;*/
	overflow: hidden;
}

[class*='col-'] {
	/*border: 1px solid blue;*/
	/*padding: 0 20px;*/
	/*background-color: lightgray;*/
	/*background-color: #3498db;*/
	/*margin-bottom: -9999px;*/
	/*padding-bottom: 9999px;*/
}

.full_list_link {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.full_list_link_text {
	font-family: 'PT Sans', sans-serif;
	font-size: .875em;
	text-align: right;
	font-weight: 200;
	color: #DDDDDD;
	text-decoration: none;
	text-transform: uppercase;
}

/* SECTION SPECIFIC ================== */
[id*='sec'] {
	border: solid white 5px;
	padding: 20px;
	padding-bottom: 40px;
	position: relative;
}

.read_more {
	font-family: 'PT Sans', sans-serif;
	color: #DDDDDD;
	text-transform: uppercase;
}

.read_more_under {
	font-family: 'PT Sans', sans-serif;
	color: #DDDDDD;
	text-transform: uppercase;
	padding-top: 10px;
	clear: both;
}

/* TITLE / MENU BAR ================== */
.title {
	padding: 10px 10px 1px 10px;
	text-align: left;

}

/* WHERE_NOW ================== */

#sec_wn {
	background-color: #6488CE;
}
.wn_big {
	font-weight: bold;
	font-size: 3em;
	color: white;
	text-align: center;
}

.wn_basic {
	font-weight: 300;
	font-size: 1em;
	color: #DDDDDD;
	text-align: center;
}

.wn_med {
	font-weight: 400;
	font-size: 2.4em;
	color: white;
	text-align: center;
}

.wn_main {
	font-family: "PT Sans", sans-serif;
	text-align: center;
	margin-top: 30px;
	line-height: 50px;
}

.wn_next {
	margin-top: 50px;
	margin-bottom: 20px;
}

.wn_next p {
	text-align: center;	
}

.key_info {
	font-family: "PT Sans", sans-serif;
	font-size: 1.3em;
	color: white;

}

/* JOURNAL_ENTRY ================== */
#sec_je {
	background-color: #C1677F;
}

.je_main {
	padding-left: 40px;
	padding-top: 20px;
	/*font-family: "PT Serif", "Garamond", serif;*/
	/*font-size: 0.8em;*/
	/*letter-spacing: .05em;*/
	/*line-height: 1.3em;*/
	/*color: white;*/
}

/* SMALL_IDEA ================== */
#sec_si {
	background-color: #4E9CB5;
}

/* BIG_IDEA ================== */
#sec_bi {
	background-color: #4BAB78;
}

/* MESSAGE ================== */
#sec_mes {
	background-color: #806EBE;
	padding-bottom: 20px;
}

::-webkit-input-placeholder {
    color: white;
    font-family: 'PT Sans', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
    font-family: 'PT Sans', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
    font-family: 'PT Sans', sans-serif;
}

:-ms-input-placeholder {  
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.lm_success {
	/*display: none;*/
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2em;
	color: white;
	text-align: center;
	padding: 20px;
}

.lm_smaller {
	font-size: 0.8em;
	color: #DDDDDD;
	padding: 5px;
}

*:focus {
	outline: none;
}

.lm_form {	
	margin-top: 10px;
}


form input {
	border: 1px solid white;
	background-color: #806EBE;
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
	color: white;
}

form textarea {
	width: 100%;
	border: 1px solid white;
	background-color: #806EBE;
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
	color: white;
	padding: 5px;
}

form #submit {
	background-color: white;
	color: #806EBE;
	font-weight: bold;
	border: 4px solid white;
}

form #name, form #email {
	width: 40%;
	padding: 5px;
}


/* MET_RECENTLY ================== */
#sec_mr {
	background-color: #D8B368;
}

/* BLOG_POST ================== */
#sec_bp {
	background-color: #7B7E97;
}

.blog_title {
	margin-top: 10px;
}

/* READING_NOW ================== */
#sec_rn {
	background-color: #C67756;
}

#sec_rn ul {
	list-style-type: square;
	padding-left: 30px;
	color: white;
}


