<!DOCTYPE html>
<html>
<head>
	<title>Awais Hussain</title>
</head>
<body ng-app='myApp'>

	<div ng-cloak ng-controller="WhereNowController">
		<h2>Where am I now?</h2>
		<h3>{{ locations.message }}</h3>
		<h4>{{ locations.updated_message }}</h4>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

<script type="text/javascript">
	var myApp = angular.module('myApp', []);
	
	myApp.controller('WhereNowController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/where_now").success(function(data) {
				$scope.locations = data;
				console.log(data);
			})
			// $scope.locations = {message: "London, UK", last_updated: "a few minutes ago"};

	}]);

	// function WhereNowController($scope) {
	// 	$scope.locations = {message: "London, UK", last_updated: "a few minutes ago"};
	// };
</script>

</body>
</html>