<!DOCTYPE html>
<html>
<head>
	<title>Awais Hussain</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

</head>
<body ng-app='myApp'>

	<div ng-cloak ng-controller="WhereNowController">
		<h2>Where I am right now</h2>
		<h3>{{ where_now.message }}</h3>
		<h4>{{ where_now.updated_message }}</h4>
	</div>

	<div ng-cloak ng-controller="WhereNextController">
		<h2>Where I'm going next</h2>
		<h3>{{ where_next.message }}: {{where_next.leave_date_message}}</h3>
		<h4>{{ where_next.updated_message }}</h4>
	</div>

	<div ng-cloak ng-controller="MetRecentController">
		<h2>Someone I've met recently</h2>
		<p>{{ met_rec.short_message }}... <a href="#">Read More</a></p>
		<h4>{{ met_rec.updated_message }}</h4>
	</div>

	<div ng-cloak ng-controller="ReadNowController">
		<h2>What I'm reading</h2>
		<ul>
			<li ng-repeat="book in reading_now">{{ book.book }}</li>
		</ul>
		<h4>{{ reading_now[0].updated_message }}</h4>
	</div>

	<div ng-cloak ng-controller="JournalEntryController">
		<h2>A Recent Journal Entry</h2>
		<p>{{ journal_entry.short_body_text }}... <a href="#">Read More</a></p>
		<h4>{{ journal_entry.updated_message }}</h4>
	</div>

<script type="text/javascript">
	var myApp = angular.module('myApp', []);
	
	myApp.controller('WhereNowController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/where_now").success(function(data) {
				$scope.where_now = data;
				console.log(data);
			});
	}]);

	myApp.controller('WhereNextController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/where_next").success(function(data) {
				$scope.where_next = data;
				console.log(data);
			});
	}]);

	myApp.controller('MetRecentController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/met_recent").success(function(data) {
				$scope.met_rec = data;
				console.log(data);
			});
	}]);

	myApp.controller('ReadNowController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/reading_now").success(function(data) {
				$scope.reading_now = data;
				console.log(data);
			});
	}]);

	myApp.controller('JournalEntryController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/journal_entry").success(function(data) {
				$scope.journal_entry = data;
				console.log(data);
			});
	}]);


	// function WhereNowController($scope) {
	// 	$scope.locations = {message: "London, UK", last_updated: "a few minutes ago"};
	// };
</script>

</body>
</html>