<!DOCTYPE html>
<html>
<head>
	<title>Awais Hussain</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles/reset.css">
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/styles/mygrid.css">
	<link type="text/css" rel="stylesheet" href="/styles/style.css">
	<style type="text/css">

	</style>
</head>
<body ng-app='myApp'>

<div class="grid title">
	<h1 class="page_title">AWAIS HUSSAIN</h1>
</div>

<!-- First section (Where now, Journal) -->
<div class="grid">
	<div id="sec_wn" class="col-2-4">
		<div class="wn_main" ng-cloak ng-controller="WhereNowController">
			<p class="wn_basic">Right now, I'm in</p>
			<h1 class="wn_big">{{ where_now.message | uppercase}}</h1>
			<p class="wn_basic">and I've been here since</p>
			<h2 class="wn_med">{{where_now.since | uppercase}}</h2>
		</div>
		<div class="wn_next" ng-cloak ng-controller="WhereNextController">
			<p>Next, I'm going to <span class="key_info">{{ where_next.message | uppercase}}</span> on <span class="key_info">{{where_next.since | uppercase}}</span> </p>
		</div>
	</div>

	<div id="sec_je" class="col-2-4" ng-cloak ng-controller="JournalEntryController">
		<div>
			<h4>My Most Recent Diary Entry</h4>
			<h6>posted {{ journal_entry.posted }}</h6>

			<p class="je_main">{{ journal_entry.short_body_text }}... <a href="#"><span class='read_more'>Read More</span></a></p>
		</div>
	</div>
</div>


<!-- Second Section, Big Idea, Leave Message, Met Recent, Something Small -->
<div class="grid">
	<div id="sec_si" class="col-1-4" ng-cloak ng-controller="SomethingSmallController">
			<h4>A Small Idea I've Been Thinking About</h4>
			<h6>updated {{ s_small.updated }}</h6>

			<p class="content_main">{{ s_small.message }}</p>
	</div>

	<div class="grid-inner-2-4">
	<div>
		<div id="sec_mes" class="col-4-4" ng-cloak ng-controller="leaveMessageController">
			<h4>Leave me a message.</h4>
			<div class="lm_success" ng-show="formSubmitted">Your message has been sent, thanks! :) <div class="lm_smaller">I'll do my best to respond soon!</div></div>

			<form class="lm_form" action="/api/leave_message" method="post" ng-hide="formSubmitted" ng-submit="processForm()">
				<textarea name="message" id="message" cols="50" rows="5" placeholder="Type here..."></textarea>
				<!-- <input type="text" name="message" placeholder="Type here..."> -->
				<!-- <div> -->
				<input type="text" id="name" name="name" placeholder="NAME">
				<input type="text" id="email" name="email" placeholder="EMAIL">
				<!-- </div> -->
				<input type="submit" id="submit" name="submit" value="SEND">


			</form>

		</div>

		<div id="sec_mr" class="col-4-4" ng-cloak ng-controller="MetRecentController">
			<h4>Someone I've met recently</h4>
			<h6>updated {{ met_rec.updated }}</h6>
			<p class="je_main">{{ met_rec.short_message }}... <a href="#">Read More</a></p>
		</div>
	</div>
	</div>

	<div id="sec_bi" class="col-1-4" ng-cloak ng-controller="SomethingBigController">
		<h4>A Big Idea I've Been Thinking About</h4>
		<h6>updated {{ s_big.updated }}</h6>
		<p class="content_main">{{ s_big.message }}</p>
	</div>	
</div>

<!-- Photos go here
<div class="grid">
</div> -->

<!-- Third Section (blog, reading) -->
<div class="grid">
	<div id="sec_bp" class="col-5-8" ng-cloak ng-controller="BlogPostController">
		<h4>My Most Recent Blog Post</h4>
		<h3 class="blog_title">{{ blog_post.title }} </h3>
		<h6>posted {{ blog_post.updated }}</h6>

		<div class="je_main">
			<p>{{ blog_post.short_description }}</p>
			<a ng-href="{{ blog_post.link }}" target="_blank">Go to full article</a>
		</div>

	</div>

	<div id="sec_rn" class="col-3-8" ng-cloak ng-controller="ReadNowController">
		<h4>What I'm reading</h4>
		<h6>{{ reading_now[0].updated_message }}</h6>
		<div class="content_main">
			<ul>
				<li ng-repeat="book in reading_now"><p>{{ book.book }}</p></li>
			</ul>			
		</div>
	</div>
</div>	
<script type="text/javascript" src="/js/moment.js"></script>
<script type="text/javascript">

	var myApp = angular.module('myApp', []);
	
	myApp.controller('WhereNowController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/where_now").success(function(data) {
				$scope.where_now = data;
				$scope.where_now.since = moment(data.last_updated).format("MMM Do 'YY");
				console.log(data);
			});
	}]);

	myApp.controller('WhereNextController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/where_next").success(function(data) {
				$scope.where_next = data;
				$scope.where_next.since = moment(data.last_updated).format("MMM Do 'YY");
				console.log(data);
			});
	}]);


	myApp.controller('JournalEntryController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/journal_entry").success(function(data) {
				$scope.journal_entry = data;
				$scope.journal_entry.posted = moment(data.last_updated).fromNow();
				console.log(data);
			});
	}]);

	myApp.controller('SomethingBigController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/something_big").success(function(data) {
				$scope.s_big = data;
				$scope.s_big.updated = moment(data.last_updated).fromNow();
				console.log(data);
			});
	}]);

	myApp.controller('SomethingSmallController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/something_small").success(function(data) {
				$scope.s_small = data;
				$scope.s_small.updated = moment(data.last_updated).fromNow();
				console.log(data);
			});
	}]);

	myApp.controller('leaveMessageController', ["$scope", "$http", function ($scope, $http){
			$scope.formSubmitted = false;

			$scope.processForm = function () {
				console.log("Form submit recieved!");
				$scope.formSubmitted = true;
			}
	}]);

	myApp.controller('MetRecentController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/met_recent").success(function(data) {
				$scope.met_rec = data;
				$scope.met_rec.updated = moment(data.last_updated).fromNow();
				console.log(data);
			});
	}]);

	myApp.controller('BlogPostController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/blog_post").success(function(data) {
				$scope.blog_post = data;
				$scope.blog_post.updated = moment(data.last_updated).fromNow();
				console.log(data);
			});
	}]);

	myApp.controller('ReadNowController', ["$scope", "$http", function ($scope, $http){
			$http.get("http://127.0.0.1:3000/api/reading_now").success(function(data) {
				$scope.reading_now = data;
				console.log(data);
			});
	}]);

	// function WhereNowController($scope) {
	// 	$scope.locations = {message: "London, UK", last_updated: "a few minutes ago"};
	// };
</script>

</body>
</html>